body{
    color: #e4e4e4;
}

ul{
    list-style-type: none;
}

#navcontainer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

li {
    margin-left: 10px;
}

#navcontainer li{
    display: inline;
    float:right;

}
.leftfooter li{
    display:inline;
    float:left;
}
.rightfooter li{
    display:inline;
    float:right;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #666666;
    padding: 100px;
}


a{
    display: block;
    color: #737373;
}

.bg {
    width:30px;
    height: 30px;
    background: url('googlicons.png') -326px -52px;
}
